/* Header */
.header 
  {
  border-bottom: 1px solid $border-color;
  min-height: 91px;
  background-color: $header-background-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  }

/* Logo. */
.logo
  {
  float: left;
  width: 165px;
  height: 68px;
  margin: 10px;
  }

/* Social media. */
.social-media-list
  {
  position: absolute;
  top: 0;
  right: 0; 

  width: 100px;
  margin: 0;
  margin-right: 10px;
  text-align: right;
  
  li
    {
    list-style-type: none;
    display: inline-block;
    }
    
  .icon
    {
    > svg 
      {
      display: inline-block;
      width: 16px;
      height: 16px;  
      vertical-align: middle;

      path 
        {
        fill: $grey-color;
        }
      }
    }
  }
  
/* Page title. */
.header 
  {
  h1 
    {
    float: right;
    margin: 24px;

    color: $title-text-color;
    line-height: $base-line-height;
    font-family: $title-font-family;
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;

    background-color: $alternate-color;
    border-radius: 4px;

    transition: background-color .5s;
    -webkit-transition: background-color .5s;
    }
  }
  
/* Main content. */
.content
  {
  position: absolute;
  top: 92px;
  left: 0px;
  right: 0px;
  bottom: 50px;
  overflow: scroll;
  overflow-x: none;
  overflow-y: scroll;
  
  padding: 18px;
  }
  
/* Footer. */
.footer 
  {
  position: fixed;
  border-top: 1px solid $grey-color-light;
  height: 50px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  
  .quote
    {
    position: absolute;
    width: 50%;
    left: 0px;
    top: 0px;
    padding: 10px;
    font-size: $footer-font-size;
    }
    
  .copyright
    {
    position: absolute;
    width: 50%;
    right: 0px;
    top: 0px;
    padding: 10px;
    font-size: $footer-font-size;
    text-align: right;
    vertical-align: middle;
    line-height: 30px;
    }
  }
